.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
config.guess
config.sub
depcomp
install-sh
missing
*.dirstamp
*.o
hybrid-coal

*.dot
*.eps
*.pdf
*.ps
*.tex
OUT.*

html/
hybrid-coal_dbg
hybrid-coal_prof
*gmon.out
